services:
    prometheus:
        image: "{{ prometheus_image }}"
        container_name: prometheus
        restart: unless-stopped

        ports: 
            - "{{ prometheus_port }}:9090"
        volumes:
            - "{{ prometheus_config_dir }}/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
            - "{{ prometheus_data_volume }}:/prometheus"
        command: 
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
            - "--storage.tsdb.retention.time={{ prometheus_retention_time }}" 
            - "--config.auto-reload"
        networks:
            - monitoring
volumes:
    prometheus-data:
        name: "{{ prometheus_data_volume }}"

networks:
    monitoring:
        name: "{{ monitoring_docker_network }}"
        external: true